/***** BASIC COLOR PALETTE *****/

/*

Navbar: #8AD562, 138,213,98
Text: #2A231B, 42,35,27
Transition Dark: #96E6A1, 150,230,161
Transition Light: #D4FC79, 212,252,121
Background: #F7FCF7, 247,252,247
Links:
Links hover/active:
Button default:
Button primary:
Button danger:
Button success:
h3: 8ad562

*/

/**** General ****/

* {
  box-sizing: border-box;
  /*border: 1px solid black;
  */
}

body {
  background-attachment: fixed;
  background-color: #F7FCF7;
  color: #2A231B;
  /*padding-top: 0;*/
  position: relative;
  font-family: "Economica", "Trebuchet MS", Verdana, Tahoma, sans-serif;
}

h1 {
  font-size: 4em;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 0.5em;
}

h1,
h2,
h3 {
  font-family: "Jura", "Lucida Bright", Georgia, serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  color: #8ad562;
}

h5 {
  font-family: "Jura", "Trebuchet MS", Verdana, Tahoma, sans-serif, sans-serif;
}

h4,
li {
  font-family: "Economica", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  list-style-type: none;
}

p,
.form-check-inbox {
  font-family: "Economica", "Trebuchet MS", Verdana, Tahoma, sans-serif, sans-serif;
  font-size: 2.05em;
  color: #2A231B;
}

a {
  color: #2A231B;
  font-family: "Economica", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  text-decoration: none;
}

section {
  min-height: 100vh;
}

.row {
  margin: 0;
}

[class^=col-] {
  padding: 0;
}

.anchor {
  padding-top: 50px;
}

/* Buttons */

.btn {
  font-family: "Jura", "Trebuchet MS", Verdana, Tahoma, sans-serif, sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #2A231B;
}

.btn-primary {
  background-color: #fff;
  border: 1px solid #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:visited,
.btn-primary:active:hover,
.btn-primary.active:hover {
  background-color: #8AD562;
  border: 1px solid transparent;
}

.btn-default {
  background-color: transparent;
  border: 1px solid #2A231B;
}


/**** Navbar ****/

.navbar,
.navbar-inverse .navbar-toggle {
  background: #8ad562!important;
  border-color: transparent;
  /*margin-bottom: 0;*/
}


.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
  -webkit-transition: background-color 450ms;
  transition: background-color 450ms;
}

.navbar-inverse .navbar-nav > li > a {
  color: #FFF;
  font-size: 1.6em;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #8AD562;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > li > a:hover {
  color: #2A231B !important;
  background-color: transparent !important;
  -webkit-transition: color 700ms, background-color 800ms;
  transition: color 700ms, background-color 800ms;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: transparent;
}

.navbar-inverse .navbar-brand {
  color: #FFF;
  font-size: 1.75em;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 1em;
}

.navbar-inverse .navbar-brand:hover {
  color: #000;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  color: #fff;
  background-color: transparent;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #8AD562;
  border-color: transparent;
}

/**** Home ****/

#home {
  background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.home-text {
  padding: 1em;
}

.home-text h1 {
  text-align: left;
  font-weight: bolder;
  font-size: 5em;
  text-transform: capitalize;
}

.home-description {
  font-size: 2.05em;
  padding-bottom: 1em;
}

.row-home {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

/**** About ****/

#about h3 {
  margin-top: 8px;
}

svg {
  max-width: 100px;
}

.cv {
  text-align: center;
  margin: 1em;
  padding-top: 0;
}

.cv .btn-lg {
  background-color: #8ad562;
}

.cv .modal-content {
  margin: 1em;
  height: 90vh;
}

.cv .modal-body {
  margin: 5px;
  height: 90%;
  width: 100%;
}

.cv #modalembed {
  height: 100%;
  width: 100%;
}

.img-lang {
  margin: 0 auto;
}

.wink {
  width: 1em;
  height: 1em;
}

/**** Services ****/

#services,
#contact {
  background-color: #D4FC79;
}

#services-detail {
  float: none;
  margin: 0 auto;
}

.services-columns {
  text-align: center;
  padding: 0 1em;
}

.services-title {
  font-size: 3em;
  text-align: center;
  padding: 0 0 0.5em;
}

.services-description {
  padding-bottom: 1em;
}

/**** Work ****/

#work {
  padding-bottom: 1em;
}

#projects {
  float: none;
  margin: 0 auto;
}

.work-img {
  display: block;
  max-width: 800px;
  position: relative;
}

.work-logo {
  border-radius: 25px;
}

.info {
  position: absolute;
  bottom: 28%;
  color: #000;
  font-weight: bold;
  letter-spacing: 0.0234em;
  line-height: 1.6;
  display: none;
  background-color: rgba(242, 242, 242, 0.9);
  text-align: center;
  width: 100%;
}

.proj-title {
  font-weight: 900;
  font-family: "Jura", "Trebuchet MS", Verdana, Tahoma, sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.skill-img {
  padding: 0 5px;
}

/**** Contact ****/

.contact-details {
  padding-bottom: 1em;
}

.contact-form a:hover {
  color: #8AD562;
  text-decoration: none;
}

/**** Footer ****/

footer {
  background-color: #2A231B;
  color: #F2F2F2;
  min-height: 2em;
  padding: 0 15px;
}

#social {
  margin: 10px 0;
  line-height: 1.1;
}

.fa.fa-icon {
  background: #F2F2F2;
  font-size: 26px;
  border: 0;
  margin: 0 5px 0 0;
  padding: 0;
  line-height: 36px;
  text-align: center;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  border-radius: 25%;
}

.fa-icon:hover {
  color: #F2F2F2;
}

.fa-twitter:hover {
  background-color: #55acee;
}

.fa-facebook:hover {
  background-color: #3b5998;
}

.fa-linkedin:hover {
  background-color: #0077b5;
}

.fa-youtube:hover {
  background-color: #FF0000;
}

.fa-github:hover {
  background-color: #000;
}

.fa-instagram:hover {
  background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-pinterest:hover {
  background-color: #cb2027;
}

.copy {}

.footnotes,
.footnotes > h5 > a {
  color: #F2F2F2;
  text-align: right;
  font-family: "Jura", "Trebuchet MS", Verdana, Tahoma, sans-serif, sans-serif;
  text-decoration: none;
}

.footnotes a:hover {
  color: #D4FC79;
}

.credits-modal h5,
.privacy-modal p {
  color: #2A231B;
  text-align: left;
  padding: 10px;
}

.privacy-text {
  padding: 10px;
  color: #2A231B;
}

.privacy-text h2,
.privacy-text ul li,
.privacy-text h5 {
  text-align: left;
  line-height: 1.76em;
}

/* Large desktops and laptops */

@media (min-width: 1200px) {
  .home-text {
    background-color: transparent;
  }

  .home-text h1 {
    font-size: 5em;
    text-align: left;
  }

  .home-description {
    text-align: left;
    font-size: 2.05em;
  }

  #who {
    padding: 0 15px 0 1em;
  }

  #table {
    padding: 0 0 0 15px;
  }

}

/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
  #home {
    background: url('../img/me.jpg') 10% 30% no-repeat, linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  }

  .home-text h1 {
    font-size: 5em;
    text-align: left;
  }

  .home-description {
    text-align: left;
    font-size: 3em;
  }

  #who {
    padding: 0 15px 0 0;
  }

  #table {
    padding: 0 0 0 15px;
  }

  .projects {
    padding: 0 0 1em 1em;
  }
}

/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
  #home {
    background: url('') 100% 30% no-repeat, linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  }

  .home-text {
    background-color: rgba(255, 255, 255, .45);
  }

  .home-text h1 {
    font-size: 7em;
    text-align: center;
  }

  .home-description {
    text-align: center;
    font-size: 3em;
  }

  #resume {
    padding-left: 3em;
  }

  .projects {
    padding: 0 0 1em 1em;
  }

}

/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
  #home {
    background: url('') 40% 30% no-repeat, linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  }

  .home-text {
    background-color: rgba(255, 255, 255, .45);
  }

  .home-text h1 {
    font-size: 3.75em;
    text-align: center;
  }

  .home-description {
    font-size: 1.75em;
    text-align: center;
  }

  .projects {
    padding: 0 0 1em 1em;
  }
}

/* Portrait phones and smaller */

@media (max-width: 480px) {
  #home {
    background: url('../img/me.jpg') 50% 30% no-repeat, linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  }

  .home-text {
    background-color: rgba(255, 255, 255, .45);
  }

  .home-text h1 {
    padding-bottom: 0.15em;
  }

  .home-description {
    padding-bottom: 0;
  }

  h1 {
    font-size: 3.75em;
    text-align: center;
  }

  p {
    font-size: 1.75em;
    text-align: center;
  }

  #about {
    margin: 0 15px;
    text-align: center;
  }

  .projects {
    padding: 1em;
  }
}

/*navbar-inverse .navbar-nav > .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 60px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 1.5em;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(1, 1, 1, .9);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }

  .dropdown {
    margin-top: -2px;
  }

  .dropdown-menu {
    top: 81.6px;
    font-size: 1em;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: inherit;
  }

  .navbar-collapse.collapse.in {
    min-height: 96vh;
    font-size: 3em;
    text-align: center;
    transition: width 2s linear 1s;
  }

  .navbar-nav > li > a {
    line-height: 15vh;
  }

  .nav > li > a.lang-inline {
    display: inline;
    line-height: 3em;
  }*/

}
